# Root ignores

# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.env
backend/.env.*
backend/.mypy_cache/
backend/.pytest_cache/

# Node
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local

# System
.DS_Store
.vscode/
